[Unit]
Description=Xvfb virtual display for headless paper IB Gateway

[Service]
ExecStart=/usr/bin/Xvfb :1 -screen 0 1024x768x24
Restart=always
RestartSec=5
User=optionsbot

[Install]
WantedBy=multi-user.target
